{% extends 'base.html' %}

{% block content %}
    <h1>{{ comb.title }}</h1>
    <p>{{ comb.description }}</p>
    <div class="card-action">
        <a href="{% url 'combs_update' comb.id %}">Edit</a>
        <a href="{% url 'combs_delete' comb.id %}">Delete</a>
    </div>
    {% for goal in comb.goal_set.all %}
    <div class="hex-container">
        <a href="">
            <div class="hexagon">
                <div class="shape">
                    <p>{{ goal.goal_title }}</p>
                    <p>{{ goal.goal_description }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    <form action="{% url 'add_goal' comb.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add goal</button>
    </form>
{% endblock %}